<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h2>Your Account</h2>
    <input type="hidden" value="<%= id %>" name="id"/>

    <form action="/edit-profile" method="POST">
        <label for="name">name</label>
        <input type="text" name="name" value="<%= user.name %>">
        <label for="lastname">lastname</label>
        <input type="text" name="lastName" value="<%= user.lastname %>">
        <label for="email">email</label>
        <input type="email" name="email" value="<%= user.email %>">
        <button>Update</button>
    </form>
    
</body>
</html>