<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%- include('./includes/navigation.ejs') %>
    <main>
    <div class="error">
    <% if(errorMessage) { %>
        <div><%= errorMessage %></div>
    <% } %>
    </div>
    <form method="POST" action="/login" novalidate>
        <label for="name">name</label>
        <input type="text" name="name"/>
        <label for="email">Email</label>
        <input type="email" name="email" value="<%= oldInput.email %>"/>
        <label for="password">Password</label>
        <input type="password" name="password"/>
        <button type="submit">login</button>
    </form>
    </main>
    
    <a href="/reset">Reset</a>
</body>
</html>