<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <form method="POST" action="/reset" novalidate>
        
        <label for="email">Email</label>
        <input type="email" name="email"/>
        
        <button type="submit">Reset</button>
    </form>
    </main>
</body>
</html>